<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 属性配置
        1、通过mybatis-config.xml中配置properties 元素的子元素来传递
        -->
<!--    <properties>-->
<!--        <property name="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=GMT"/>-->
<!--        <property name="jdbc.username" value="root"/>-->
<!--        <property name="jdbc.password" value="123456"/>-->
<!--    </properties>-->

    <!-- 2、通过引入外部文件进行加载-->
    <properties resource="db.properties"/>
    
    <settings>
        <!-- 日志框架配置 -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 类型别名-->
    <typeAliases>
        <typeAlias alias="User" type="com.mxz.mybatis.domain.User"/>
        
        <package name="com.mxz.mybatis.domain"/>
    </typeAliases>

    <!-- 环境配置 -->
    <environments default="dev">
        <!-- 开发环境-->
        <environment id="dev">
            <!-- 事务管理器 -->
            <!-- type=JDBC，通过类Configuration知道，其为JdbcTransactionFactory.class类的别名-->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 关联 Mapper 映射文件/ Mapper 接口-->
    <mappers>
        <mapper resource="com/mxz/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="com/mxz/mybatis/mapper/UserNewMapper.xml"/>
        <mapper resource="com/mxz/mybatis/mapper/StudentMapper.xml"/>
        <mapper resource="com/mxz/mybatis/mapper/ClientMapper.xml"/>
        <mapper class="com.mxz.mybatis.mapper.StudentAnnotationMapper"/>
    </mappers>
</configuration>